<template>
  <a
    v-if="href"
    :href="href"
    v-on="$listeners"
    class="ui-btn"
    :class="[prop_variant, prop_size, prop_full_width, prop_outline]"
  >
    <slot></slot>
  </a>
  <button
    v-else
    v-on="$listeners"
    class="ui-btn"
    :class="[prop_variant, prop_size, prop_full_width, prop_outline]"
  >
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: "ui-btn",

  props: {
    variant: {
      type: String,
      default: "default"
    },
    size: {
      type: String,
      default: "md"
    },
    fullWidth: {
      type: Boolean,
      default: false
    },
    outline: {
      type: Boolean,
      default: false
    },
    href: {
      type: String,
      default: ""
    }
  },

  computed: {
    prop_variant() {
      return "ui-btn_" + this.$props.variant;
    },

    prop_size() {
      return "ui-btn_size-" + this.$props.size;
    },

    prop_full_width() {
      return this.$props.fullWidth ? "ui-btn_full-width" : "";
    },

    prop_outline() {
      return this.$props.outline ? this.propVariant + " ui-btn_outline" : "";
    }
  }
};
</script>
