<template>
  <div>
    <ui-loading size="sm" v-if="loading" />
    <template v-else>
      <div class="ui-drag-and-drop">
        <div
          v-for="(group, group_index) in groups"
          :key="group_index"
          :id="'ui-drag-and-drop__group-' + group_index + '-' + _uid"
          class="ui-drag-and-drop__group"
          @drop="drop"
          @dragover="dragover"
          :class="{ 'ui-box-shadow_warning': active }"
        >
          <div
            v-for="(item, index) in group"
            :key="index"
            class="ui-drag-and-drop__item"
            :draggable="active"
            @dragstart="dragstart"
            @dragend="dragend"
            :id="
              'ui-drag-and-drop__item-' + group_index + '-' + index + '-' + _uid
            "
          >
            <div class="ui-drag-and-drop__item-view" v-show="active">
              <slot
                name="view"
                :item="item"
                :index_item="index"
                :group_index="group_index"
                :group="group"
              />
            </div>
            <slot
              name="item"
              :item="item"
              :index_item="index"
              :group_index="group_index"
              :group="group"
            />
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  name: "ui-drag-and-drop",
  props: {
    list: {
      type: Array,
      required: true,
      default() {
        return [];
      }
    },
    active: {
      type: Boolean,
      default: true
    },
    loading: Boolean
  },

  data() {
    return {
      dragItem: undefined,
      dropItem: undefined,
      dropGroup: undefined,

      cssClass: {
        group: "ui-drag-and-drop__group",
        item: "ui-drag-and-drop__item",
        itemDrag: "ui-drag-and-drop__item_drag",
        itemDrop: "ui-drag-and-drop__item_drop",
        groupDrop: "ui-box-shadow_info"
      }
    };
  },

  computed: {
    groups() {
      if (Array.isArray(this.$props.list[0])) {
        return this.$props.list;
      } else {
        return [this.$props.list];
      }
    }
  },

  methods: {
    drop(e) {
      if (!this.dragItem) return;

      let dropGroup = e.target.closest("." + this.cssClass.group);
      let dropItem = e.target.closest("." + this.cssClass.item);

      if (dropItem) {
        dropGroup.insertBefore(this.dragItem, dropItem);
      } else {
        dropGroup.appendChild(this.dragItem);
      }
    },
    dragstart(e) {
      if (e.dataTransfer.items.length > 1) return;

      this.dragItem = e.target;
      this.dropGroup = e.target.closest("." + this.cssClass.group);
      this.dropItem = e.target.closest("." + this.cssClass.item);

      this.dragItem.classList.add(this.cssClass.itemDrag);
      this.dropGroup.classList.add(this.cssClass.groupDrop);

      e.dataTransfer.effectAllowed = "move";
    },
    dragover(e) {
      e.preventDefault();

      let dropGroup = e.target.closest("." + this.cssClass.group);
      let dropItem = e.target.closest("." + this.cssClass.item);

      if (!this.dragItem && !this.dropGroup) {
        let groups = document.querySelectorAll("." + this.cssClass.group);
        let items = document.querySelectorAll("." + this.cssClass.item);

        if (groups) {
          [].forEach.call(groups, group => {
            group.classList.remove(this.cssClass.groupDrop);
          });
        }

        if (items) {
          [].forEach.call(items, item => {
            item.classList.remove(this.cssClass.itemDrop);
          });
        }

        return;
      }

      if (dropGroup && this.dropGroup && dropGroup.id !== this.dropGroup.id) {
        dropGroup.classList.add(this.cssClass.groupDrop);
        this.dropGroup.classList.remove(this.cssClass.groupDrop);

        this.dropGroup = dropGroup;
      } else {
        this.dropGroup.classList.add(this.cssClass.groupDrop);
      }

      if (dropItem && this.dropItem && dropItem.id !== this.dropItem.id) {
        dropItem.classList.add(this.cssClass.itemDrop);
        this.dropItem.classList.remove(this.cssClass.itemDrop);

        this.dropItem = dropItem;
      }
    },
    dragend(e) {
      if (e.dataTransfer.items.length > 1 || !this.dragItem) return;

      this.dropGroup.classList.remove(this.cssClass.groupDrop);
      this.dropItem.classList.remove(this.cssClass.itemDrop);
      this.dragItem.classList.remove(this.cssClass.itemDrag);

      this.dropGroup = undefined;
      this.dragItem = undefined;
      this.dropItem = undefined;
    }
  }
};
</script>
