<template>
  <ui-tooltip position="left" :offset-x="-29" :offset-y="31">
    <template #activator>
      <ui-icon name="help" class="ui-cursor-pointer" />
    </template>
    <div style="width: 200px">
      <span>{{ help }}</span>
    </div>
  </ui-tooltip>
</template>

<script>
export default {
  name: "form-elements-common-tooltip",
  props: {
    help: {
      type: String,
      default: ""
    }
  }
};
</script>
