<template>
  <div class="ui-card__head">
    <div class="ui-grid ui-card__head_flex">
      <div
        class="ui-grid__col_auto"
        v-show="!hideLeft && this.$slots && this.$slots.default"
      >
        <ui-icon
          v-show="icon"
          :name="icon"
          :class="[$props.iconClass, prop_icon_color]"
          class="ui-card__head-icon"
        />
        <h3 class="ui-card__head-h3">
          <slot></slot>
        </h3>
      </div>
      <div
        class="ui-grid__col_auto ui-text-align_right"
        v-show="!hideRight && this.$slots && this.$slots.right"
      >
        <slot name="right"></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ui-card-head",

  props: {
    icon: String,
    iconColor: String,
    iconClass: String,
    hideLeft: Boolean,
    hideRight: Boolean
  },

  computed: {
    prop_icon_color() {
      return "ui-text-color_" + this.$props.iconColor;
    }
  }
};
</script>
