<template>
  <div class="container">
    <div>
      <h2>btn</h2>

      <ui-btn>Default</ui-btn>
      <ui-btn variant="info">Info</ui-btn>
      <ui-btn variant="danger">Danger</ui-btn>
      <ui-btn variant="success">Success</ui-btn>
      <ui-btn variant="warning">Warning</ui-btn>
    </div>
    <div>
      <h2>btn outline</h2>

      <ui-btn outline>Default</ui-btn>
      <ui-btn outline variant="info">Info</ui-btn>
      <ui-btn outline variant="danger">Danger</ui-btn>
      <ui-btn outline variant="success">Success</ui-btn>
      <ui-btn outline variant="warning">Warning</ui-btn>
    </div>

    <div>
      <h2>btn size sm</h2>

      <ui-btn size="sm">Default</ui-btn>
      <ui-btn variant="info" size="sm">Info</ui-btn>
      <ui-btn variant="danger" size="sm">Danger</ui-btn>
      <ui-btn variant="success" size="sm">Success</ui-btn>
      <ui-btn variant="warning" size="sm">Warning</ui-btn>
    </div>

    <div>
      <h2>btn size md</h2>

      <ui-btn>Default</ui-btn>
      <ui-btn variant="info">Info</ui-btn>
      <ui-btn variant="danger">Danger</ui-btn>
      <ui-btn variant="success">Success</ui-btn>
      <ui-btn variant="warning">Warning</ui-btn>
    </div>

    <div>
      <h2>btn size lg</h2>

      <ui-btn size="lg">Default</ui-btn>
      <ui-btn variant="info" size="lg">Info</ui-btn>
      <ui-btn variant="danger" size="lg">Danger</ui-btn>
      <ui-btn variant="success" size="lg">Success</ui-btn>
      <ui-btn variant="warning" size="lg">Warning</ui-btn>
    </div>

    <div>
      <h2>btn group</h2>

      <ui-btn-group>
        <ui-btn>Default</ui-btn>
        <ui-btn variant="info">Info</ui-btn>
        <ui-btn variant="danger">Danger</ui-btn>
        <ui-btn variant="success">Success</ui-btn>
        <ui-btn variant="warning">Warning</ui-btn>
      </ui-btn-group>

      <br />
      <br />

      <ui-btn-group>
        <ui-btn>Default</ui-btn>
        <ui-btn>Default</ui-btn>
        <ui-btn>Default</ui-btn>
        <ui-btn>Default</ui-btn>
        <ui-btn>Default</ui-btn>
      </ui-btn-group>
    </div>
  </div>
</template>
