<template>
  <div>
    <router-link
      v-for="(r, i) in $router.options.routes"
      :key="i"
      style="display: block"
      :to="r.path"
      >{{ r.path }}</router-link
    >
  </div>
</template>

<script>
export default {
  name: "home"
};
</script>
