<template>
  <div class="container">
    <div>
      <h2>Icon</h2>

      <ui-icon
        :name="update ? 'angle-left' : 'angle-right'"
        @click="update = !update"
      />

      <br />
      <ui-icon name="reload" spin />

      <br />
      <ui-icon name="reload" spin size="sm" />
      <ui-icon name="reload" spin size="md" />
      <ui-icon name="reload" spin size="lg" />

      <br />

      <ui-btn size="sm">
        <ui-icon name="reload" spin size="sm" />
      </ui-btn>

      <ui-btn size="sm">
        <ui-icon
          size="sm"
          :name="update ? 'angle-left' : 'angle-right'"
          @click="update = !update"
        />
      </ui-btn>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      update: 0
    };
  }
};
</script>
