<template>
  <div class="container">
    <ui-btn @click="random('df')">Default</ui-btn>
    <ui-btn @click="random('i')" variant="info">Info</ui-btn>
    <ui-btn @click="random('d')" variant="danger">Danger</ui-btn>
    <ui-btn @click="random('s')" variant="success">Success</ui-btn>
    <ui-btn @click="random('w')" variant="warning">Warning</ui-btn>

    <div>
      <h2>progress</h2>

      <ui-progress :width="df" class="mt-2" />
      <ui-progress variant="info" :width="i" class="mt-2" />
      <ui-progress variant="danger" :width="d" class="mt-2" />
      <ui-progress variant="success" :width="s" class="mt-2" />
      <ui-progress variant="warning" :width="w" class="mt-2" />
    </div>

    <div>
      <h2>progress labels</h2>

      <ui-progress :width="df" label class="mt-2" />
      <ui-progress variant="info" :width="i" label class="mt-2" />
      <ui-progress variant="danger" :width="d" label class="mt-2" />
      <ui-progress variant="success" :width="s" label class="mt-2" />
      <ui-progress variant="warning" :width="w" label class="mt-2" />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      df: 0,
      i: 0,
      d: 0,
      s: 0,
      w: 0
    };
  },
  methods: {
    random(name) {
      this[name] = this[name] + parseInt(Math.random() * (100 - 0) + 0);
    }
  }
};
</script>
