<template>
  <i
    v-on="$listeners"
    class="ui-icon"
    :class="[prop_name, prop_size, prop_spin]"
  ></i>
</template>

<script>
export default {
  name: "ui-icon",

  props: {
    name: {
      type: String,
      default: "default"
    },

    size: {
      type: String,
      default: "md"
    },

    spin: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    prop_name() {
      return "ui-icon__" + this.$props.name;
    },

    prop_size() {
      return "ui-icon_size-" + this.$props.size;
    },

    prop_spin() {
      return this.$props.spin ? "ui-icon_spin" : "";
    }
  }
};
</script>
