<template>
  <div class="ui-text-center">
    <ui-icon
      name="layout-grid3"
      spin
      class="ui-text-color_default"
      :class="[prop_size]"
    />
    <ui-icon
      name="layout-grid3"
      spin
      class="ui-text-color_success"
      :class="[prop_size]"
    />
    <br />
    <ui-icon
      name="layout-grid3"
      spin
      class="ui-text-color_danger"
      :class="[prop_size]"
    />
    <ui-icon
      name="layout-grid3"
      spin
      class="ui-text-color_info"
      :class="[prop_size]"
    />
  </div>
</template>

<script>
export default {
  name: "ui-loading",

  props: {
    size: {
      type: String,
      default: "md"
    }
  },

  computed: {
    prop_size() {
      switch (this.$props.size) {
        case "sm": {
          return "ui-text-size_24";
        }
        case "lg": {
          return "ui-text-size_64";
        }
        default: {
          return "ui-text-size_48";
        }
      }
    }
  }
};
</script>
