<template>
  <div
    v-on="$listeners"
    class="ui-progress ui-text_center"
    :class="[prop_variant]"
  >
    <div class="ui-progress__fill" :style="get_styles"></div>
    <div class="ui-progress__container-text" v-show="label">
      <span class="ui-progress__text">{{ prop_label }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "ui-progress",

  data() {
    return {
      text: 0,
      ost: 0
    };
  },

  props: {
    variant: {
      type: String,
      default: "default"
    },

    label: {
      type: Boolean,
      default: false
    },

    width: {
      type: Number,
      default: 0
    }
  },

  computed: {
    prop_variant() {
      return "ui-progress_" + this.$props.variant;
    },

    prop_label() {
      this.labelTextRender();
      return this.$props.label ? this.text + "%" : "";
    },

    get_styles() {
      return {
        width: this.$props.width > 100 ? "100%" : this.$props.width + "%"
      };
    }
  },

  methods: {
    labelTextRender() {
      let width = this.$props.width;
      let time = 0;

      if (width > 100) {
        width = 100;
        time = 1000 / width - 3;
      } else {
        this.ost += width;
        time = 1000 / (width - this.ost);
      }

      let intervalId = setInterval(() => {
        if (this.text < width) {
          this.text++;
        }
      }, time);

      setTimeout(() => {
        clearInterval(intervalId);
      }, time);
    }
  }
};
</script>
