<template>
  <div class="ui-tooltip" @mouseover="view = true" @mouseout="view = false">
    <div :ref="'ui-tooltip-activator-' + _uid">
      <slot name="activator"></slot>
    </div>
    <transition name="ui-animation__fade">
      <div
        v-show="view"
        class="ui-tooltip__content ui-pa_4"
        :style="[getViewPosition()]"
        style="white-space: pre-line;"
      >
        <slot></slot>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: "ui-tooltip",

  props: {
    position: {
      type: String,
      default: "right"
    },
    offsetX: {
      type: Number,
      default: 0
    },
    offsetY: {
      type: Number,
      default: 7
    },
    zIndex: {
      type: Number,
      default: 777
    }
  },

  data() {
    return {
      view: false,
      w: 0,
      h: 0
    };
  },

  mounted() {
    let activator = this.$refs["ui-tooltip-activator-" + this._uid];
    if (activator) {
      this.w = activator.clientWidth;
      this.h = activator.clientHeight;
    }
  },

  methods: {
    getViewPosition() {
      let data = {};

      if (this.$props.position === "top") {
        data = {
          bottom: this.h + this.$props.offsetY + "px",
          left: this.$props.offsetX + "px"
        };
      } else if (this.$props.position === "bottom") {
        data = {
          top: this.h + this.$props.offsetY + "px",
          left: this.$props.offsetX + "px"
        };
      } else if (this.$props.position === "right") {
        data = {
          left: this.w + this.$props.offsetX + "px",
          top: this.$props.offsetY + "px"
        };
      } else if (this.$props.position === "left") {
        data = {
          right: this.w + this.$props.offsetX + "px",
          top: this.$props.offsetY + "px"
        };
      }

      data.zIndex = this.$props.zIndex;

      return data;
    }
  }
};
</script>
