<template>
  <div @click="sort" class="ui-cursor-pointer">
    <span class="ui-text-color_danger">{{ text }}</span>
    <span class="ui-table__thead-sort">
      <ui-icon
        v-show="onThead.sorts[keySort]"
        :name="get_direction"
        class="ui-table__thead-sort__icon"
      />
    </span>
  </div>
</template>

<script>
export default {
  name: "table-thead-sort",

  props: {
    keySort: {
      type: String,
      require: true
    },
    typeKeySort: {
      type: String,
      default: "string"
    },
    direction: {
      type: String,
      default: "ASC"
    },
    onThead: {
      type: Object,
      require: true
    },
    text: String
  },

  computed: {
    get_direction() {
      return this.$props.onThead.sorts[this.$props.keySort] === "ASC"
        ? "arrow-up"
        : "arrow-down";
    }
  },

  methods: {
    sort() {
      if (this.$props.typeKeySort === "int") {
        this.$props.onThead.on.sortInt(
          this.$props.keySort,
          this.$props.direction
        );
      } else {
        this.$props.onThead.on.sortString(
          this.$props.keySort,
          this.$props.direction
        );
      }
    }
  }
};
</script>
