<template>
  <div class="ui-table" :class="{ 'ui-table_overflow': overflow }">
    <table>
      <thead>
        <slot name="thead" :on="getOn()" :sorts="sorts" :groups="groups"></slot>
      </thead>

      <template v-if="!loading">
        <tbody v-if="items && items.length > 0">
          <template v-for="(item, index) in items">
            <tr :key="index">
              <slot
                name="tbody"
                :item="item"
                :groups="groups"
                :sorts="sorts"
                :on="getOn()"
                :index="index"
              ></slot>
            </tr>
          </template>
        </tbody>
        <tbody v-else>
          <tr>
            <td :colspan="countCol">{{ textNoData }}</td>
          </tr>
        </tbody>
      </template>
      <template v-else>
        <tbody>
          <tr>
            <td :colspan="countCol" class="ui-pa_3">
              <ui-loading size="sm" />
            </td>
          </tr>
        </tbody>
      </template>

      <tfoot v-show="!loading">
        <template v-for="(item, index) in tfootData">
          <tr :key="index">
            <slot
              name="tfoot"
              :item="item"
              :groups="groups"
              :sorts="sorts"
              :on="getOn()"
              :index="index"
            ></slot>
          </tr>
        </template>
      </tfoot>
    </table>
  </div>
</template>

<script>
export default {
  name: "ui-table",

  props: {
    tbodyData: {
      type: Array,
      default: () => []
    },
    tfootData: {
      type: Array,
      default: () => []
    },
    countCol: {
      type: Number,
      require: true
    },
    textNoData: {
      type: String,
      default: "Данных нет."
    },
    direction: {
      type: String,
      default: "ASC"
    },
    typeKeySort: {
      type: String,
      default: "string"
    },
    keySort: String,
    groupsData: {
      type: Object,
      default: () => {}
    },
    loading: Boolean,
    overflow: Boolean
  },

  data() {
    return {
      sorts: {},
      groups: this.$props.groupsData,
      items: []
    };
  },

  watch: {
    loading() {
      this.init();
    },
    tbodyData() {
      this.items = this.$props.tbodyData;
    }
  },

  mounted() {
    this.init();
  },

  methods: {
    init() {
      if (this.$props.keySort) {
        this.sorts[this.$props.keySort] = this.$props.direction;

        if (this.$props.typeKeySort === "int") {
          this.sortInt(this.$props.keySort, this.$props.direction);
        } else {
          this.sortString(this.$props.keySort, this.$props.direction);
        }
      }
    },
    getOn() {
      return {
        sortInt: (key, direction_default) =>
          this.sortInt(key, direction_default),
        sortString: (key, direction_default) =>
          this.sortString(key, direction_default),
        groupView: name => {
          this.groups[name] = !this.groups[name];
        }
      };
    },
    getDirection(key, direction_default) {
      let sorts = {};

      if (!this.sorts[key]) {
        sorts[key] = direction_default ? direction_default : "ASC";
      } else {
        sorts[key] = this.sorts[key] === "ASC" ? "DESC" : "ASC";
      }

      this.sorts = sorts;
      return this.sorts[key];
    },
    sortInt(key, direction_default) {
      this.items = this.$uiSorts.sortIntObject(
        this.$props.tbodyData,
        key,
        this.getDirection(key, direction_default)
      );
    },
    sortString(key, direction_default) {
      this.items = this.$uiSorts.sortStringObject(
        this.$props.tbodyData,
        key,
        this.getDirection(key, direction_default)
      );
    }
  }
};
</script>
