<template>
  <th
    :colspan="colspan"
    class="ui-text-align_center ui-cursor-pointer"
    @click="viewGroup"
  >
    <span>{{ text }} </span>
    <ui-icon :name="get_icon" size="sm" />
  </th>
</template>

<script>
export default {
  name: "table-thead-group",

  props: {
    keyGroup: {
      type: String,
      require: true
    },
    onGroup: {
      type: Object,
      require: true
    },
    text: String,
    colspan: {
      type: Number,
      default: 1
    }
  },

  computed: {
    get_icon() {
      return this.$props.onGroup.groups[this.$props.keyGroup] === false
        ? "zoom-in"
        : "zoom-out";
    }
  },

  methods: {
    viewGroup() {
      this.$props.onGroup.on.groupView(this.$props.keyGroup);
    }
  }
};
</script>
