@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?oihngi') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?oihngi') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?oihngi##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ui-icon__help {
  &:before {
    content: $ui-icon__help; 
  }
}
.ui-icon__layout-grid3 {
  &:before {
    content: $ui-icon__layout-grid3; 
  }
}
.ui-icon__x {
  &:before {
    content: $ui-icon__x; 
  }
}
.ui-icon__alert-octagon {
  &:before {
    content: $ui-icon__alert-octagon; 
  }
}
.ui-icon__alert-circle {
  &:before {
    content: $ui-icon__alert-circle; 
  }
}
.ui-icon__activity {
  &:before {
    content: $ui-icon__activity; 
  }
}
.ui-icon__alert-triangle {
  &:before {
    content: $ui-icon__alert-triangle; 
  }
}
.ui-icon__align-center {
  &:before {
    content: $ui-icon__align-center; 
  }
}
.ui-icon__airplay {
  &:before {
    content: $ui-icon__airplay; 
  }
}
.ui-icon__align-justify {
  &:before {
    content: $ui-icon__align-justify; 
  }
}
.ui-icon__align-left {
  &:before {
    content: $ui-icon__align-left; 
  }
}
.ui-icon__align-right {
  &:before {
    content: $ui-icon__align-right; 
  }
}
.ui-icon__arrow-down-left {
  &:before {
    content: $ui-icon__arrow-down-left; 
  }
}
.ui-icon__arrow-down-right {
  &:before {
    content: $ui-icon__arrow-down-right; 
  }
}
.ui-icon__anchor {
  &:before {
    content: $ui-icon__anchor; 
  }
}
.ui-icon__aperture {
  &:before {
    content: $ui-icon__aperture; 
  }
}
.ui-icon__arrow-left {
  &:before {
    content: $ui-icon__arrow-left; 
  }
}
.ui-icon__arrow-right {
  &:before {
    content: $ui-icon__arrow-right; 
  }
}
.ui-icon__arrow-down {
  &:before {
    content: $ui-icon__arrow-down; 
  }
}
.ui-icon__arrow-up-left {
  &:before {
    content: $ui-icon__arrow-up-left; 
  }
}
.ui-icon__arrow-up-right {
  &:before {
    content: $ui-icon__arrow-up-right; 
  }
}
.ui-icon__arrow-up {
  &:before {
    content: $ui-icon__arrow-up; 
  }
}
.ui-icon__award {
  &:before {
    content: $ui-icon__award; 
  }
}
.ui-icon__bar-chart {
  &:before {
    content: $ui-icon__bar-chart; 
  }
}
.ui-icon__at-sign {
  &:before {
    content: $ui-icon__at-sign; 
  }
}
.ui-icon__bar-chart- {
  &:before {
    content: $ui-icon__bar-chart-; 
  }
}
.ui-icon__battery-charging {
  &:before {
    content: $ui-icon__battery-charging; 
  }
}
.ui-icon__bell-off {
  &:before {
    content: $ui-icon__bell-off; 
  }
}
.ui-icon__battery {
  &:before {
    content: $ui-icon__battery; 
  }
}
.ui-icon__bluetooth {
  &:before {
    content: $ui-icon__bluetooth; 
  }
}
.ui-icon__bell {
  &:before {
    content: $ui-icon__bell; 
  }
}
.ui-icon__book {
  &:before {
    content: $ui-icon__book; 
  }
}
.ui-icon__briefcase {
  &:before {
    content: $ui-icon__briefcase; 
  }
}
.ui-icon__camera-off {
  &:before {
    content: $ui-icon__camera-off; 
  }
}
.ui-icon__calendar {
  &:before {
    content: $ui-icon__calendar; 
  }
}
.ui-icon__bookmark {
  &:before {
    content: $ui-icon__bookmark; 
  }
}
.ui-icon__box {
  &:before {
    content: $ui-icon__box; 
  }
}
.ui-icon__camera {
  &:before {
    content: $ui-icon__camera; 
  }
}
.ui-icon__check-circle {
  &:before {
    content: $ui-icon__check-circle; 
  }
}
.ui-icon__check {
  &:before {
    content: $ui-icon__check; 
  }
}
.ui-icon__check-square {
  &:before {
    content: $ui-icon__check-square; 
  }
}
.ui-icon__cast {
  &:before {
    content: $ui-icon__cast; 
  }
}
.ui-icon__chevron-down {
  &:before {
    content: $ui-icon__chevron-down; 
  }
}
.ui-icon__chevron-left {
  &:before {
    content: $ui-icon__chevron-left; 
  }
}
.ui-icon__chevron-right {
  &:before {
    content: $ui-icon__chevron-right; 
  }
}
.ui-icon__chevron-up {
  &:before {
    content: $ui-icon__chevron-up; 
  }
}
.ui-icon__chevrons-down {
  &:before {
    content: $ui-icon__chevrons-down; 
  }
}
.ui-icon__chevrons-right {
  &:before {
    content: $ui-icon__chevrons-right; 
  }
}
.ui-icon__chevrons-up {
  &:before {
    content: $ui-icon__chevrons-up; 
  }
}
.ui-icon__chevrons-left {
  &:before {
    content: $ui-icon__chevrons-left; 
  }
}
.ui-icon__circle {
  &:before {
    content: $ui-icon__circle; 
  }
}
.ui-icon__clipboard {
  &:before {
    content: $ui-icon__clipboard; 
  }
}
.ui-icon__chrome {
  &:before {
    content: $ui-icon__chrome; 
  }
}
.ui-icon__clock {
  &:before {
    content: $ui-icon__clock; 
  }
}
.ui-icon__cloud-lightning {
  &:before {
    content: $ui-icon__cloud-lightning; 
  }
}
.ui-icon__cloud-drizzle {
  &:before {
    content: $ui-icon__cloud-drizzle; 
  }
}
.ui-icon__cloud-rain {
  &:before {
    content: $ui-icon__cloud-rain; 
  }
}
.ui-icon__cloud-off {
  &:before {
    content: $ui-icon__cloud-off; 
  }
}
.ui-icon__codepen {
  &:before {
    content: $ui-icon__codepen; 
  }
}
.ui-icon__cloud-snow {
  &:before {
    content: $ui-icon__cloud-snow; 
  }
}
.ui-icon__compass {
  &:before {
    content: $ui-icon__compass; 
  }
}
.ui-icon__copy {
  &:before {
    content: $ui-icon__copy; 
  }
}
.ui-icon__corner-down-right {
  &:before {
    content: $ui-icon__corner-down-right; 
  }
}
.ui-icon__corner-down-left {
  &:before {
    content: $ui-icon__corner-down-left; 
  }
}
.ui-icon__corner-left-down {
  &:before {
    content: $ui-icon__corner-left-down; 
  }
}
.ui-icon__corner-left-up {
  &:before {
    content: $ui-icon__corner-left-up; 
  }
}
.ui-icon__corner-up-left {
  &:before {
    content: $ui-icon__corner-up-left; 
  }
}
.ui-icon__corner-up-right {
  &:before {
    content: $ui-icon__corner-up-right; 
  }
}
.ui-icon__corner-right-down {
  &:before {
    content: $ui-icon__corner-right-down; 
  }
}
.ui-icon__corner-right-up {
  &:before {
    content: $ui-icon__corner-right-up; 
  }
}
.ui-icon__cpu {
  &:before {
    content: $ui-icon__cpu; 
  }
}
.ui-icon__credit-card {
  &:before {
    content: $ui-icon__credit-card; 
  }
}
.ui-icon__crosshair {
  &:before {
    content: $ui-icon__crosshair; 
  }
}
.ui-icon__disc {
  &:before {
    content: $ui-icon__disc; 
  }
}
.ui-icon__delete {
  &:before {
    content: $ui-icon__delete; 
  }
}
.ui-icon__download-cloud {
  &:before {
    content: $ui-icon__download-cloud; 
  }
}
.ui-icon__download {
  &:before {
    content: $ui-icon__download; 
  }
}
.ui-icon__droplet {
  &:before {
    content: $ui-icon__droplet; 
  }
}
.ui-icon__edit- {
  &:before {
    content: $ui-icon__edit-; 
  }
}
.ui-icon__edit {
  &:before {
    content: $ui-icon__edit; 
  }
}
.ui-icon__edit-1 {
  &:before {
    content: $ui-icon__edit-1; 
  }
}
.ui-icon__external-link {
  &:before {
    content: $ui-icon__external-link; 
  }
}
.ui-icon__eye {
  &:before {
    content: $ui-icon__eye; 
  }
}
.ui-icon__feather {
  &:before {
    content: $ui-icon__feather; 
  }
}
.ui-icon__file-minus {
  &:before {
    content: $ui-icon__file-minus; 
  }
}
.ui-icon__eye-off {
  &:before {
    content: $ui-icon__eye-off; 
  }
}
.ui-icon__fast-forward {
  &:before {
    content: $ui-icon__fast-forward; 
  }
}
.ui-icon__file-text {
  &:before {
    content: $ui-icon__file-text; 
  }
}
.ui-icon__film {
  &:before {
    content: $ui-icon__film; 
  }
}
.ui-icon__file {
  &:before {
    content: $ui-icon__file; 
  }
}
.ui-icon__file-plus {
  &:before {
    content: $ui-icon__file-plus; 
  }
}
.ui-icon__folder {
  &:before {
    content: $ui-icon__folder; 
  }
}
.ui-icon__filter {
  &:before {
    content: $ui-icon__filter; 
  }
}
.ui-icon__flag {
  &:before {
    content: $ui-icon__flag; 
  }
}
.ui-icon__globe {
  &:before {
    content: $ui-icon__globe; 
  }
}
.ui-icon__grid {
  &:before {
    content: $ui-icon__grid; 
  }
}
.ui-icon__heart {
  &:before {
    content: $ui-icon__heart; 
  }
}
.ui-icon__home {
  &:before {
    content: $ui-icon__home; 
  }
}
.ui-icon__github {
  &:before {
    content: $ui-icon__github; 
  }
}
.ui-icon__image {
  &:before {
    content: $ui-icon__image; 
  }
}
.ui-icon__inbox {
  &:before {
    content: $ui-icon__inbox; 
  }
}
.ui-icon__layers {
  &:before {
    content: $ui-icon__layers; 
  }
}
.ui-icon__info {
  &:before {
    content: $ui-icon__info; 
  }
}
.ui-icon__instagram {
  &:before {
    content: $ui-icon__instagram; 
  }
}
.ui-icon__layout {
  &:before {
    content: $ui-icon__layout; 
  }
}
.ui-icon__link- {
  &:before {
    content: $ui-icon__link-; 
  }
}
.ui-icon__life-buoy {
  &:before {
    content: $ui-icon__life-buoy; 
  }
}
.ui-icon__link {
  &:before {
    content: $ui-icon__link; 
  }
}
.ui-icon__log-in {
  &:before {
    content: $ui-icon__log-in; 
  }
}
.ui-icon__list {
  &:before {
    content: $ui-icon__list; 
  }
}
.ui-icon__lock {
  &:before {
    content: $ui-icon__lock; 
  }
}
.ui-icon__log-out {
  &:before {
    content: $ui-icon__log-out; 
  }
}
.ui-icon__loader {
  &:before {
    content: $ui-icon__loader; 
  }
}
.ui-icon__mail {
  &:before {
    content: $ui-icon__mail; 
  }
}
.ui-icon__maximize- {
  &:before {
    content: $ui-icon__maximize-; 
  }
}
.ui-icon__map {
  &:before {
    content: $ui-icon__map; 
  }
}
.ui-icon__map-pin {
  &:before {
    content: $ui-icon__map-pin; 
  }
}
.ui-icon__menu {
  &:before {
    content: $ui-icon__menu; 
  }
}
.ui-icon__message-circle {
  &:before {
    content: $ui-icon__message-circle; 
  }
}
.ui-icon__message-square {
  &:before {
    content: $ui-icon__message-square; 
  }
}
.ui-icon__minimize- {
  &:before {
    content: $ui-icon__minimize-; 
  }
}
.ui-icon__mic-off {
  &:before {
    content: $ui-icon__mic-off; 
  }
}
.ui-icon__minus-circle {
  &:before {
    content: $ui-icon__minus-circle; 
  }
}
.ui-icon__mic {
  &:before {
    content: $ui-icon__mic; 
  }
}
.ui-icon__minus-square {
  &:before {
    content: $ui-icon__minus-square; 
  }
}
.ui-icon__minus {
  &:before {
    content: $ui-icon__minus; 
  }
}
.ui-icon__moon {
  &:before {
    content: $ui-icon__moon; 
  }
}
.ui-icon__monitor {
  &:before {
    content: $ui-icon__monitor; 
  }
}
.ui-icon__more-vertical {
  &:before {
    content: $ui-icon__more-vertical; 
  }
}
.ui-icon__more-horizontal {
  &:before {
    content: $ui-icon__more-horizontal; 
  }
}
.ui-icon__music {
  &:before {
    content: $ui-icon__music; 
  }
}
.ui-icon__navigation- {
  &:before {
    content: $ui-icon__navigation-; 
  }
}
.ui-icon__navigation {
  &:before {
    content: $ui-icon__navigation; 
  }
}
.ui-icon__octagon {
  &:before {
    content: $ui-icon__octagon; 
  }
}
.ui-icon__package {
  &:before {
    content: $ui-icon__package; 
  }
}
.ui-icon__pause-circle {
  &:before {
    content: $ui-icon__pause-circle; 
  }
}
.ui-icon__pause {
  &:before {
    content: $ui-icon__pause; 
  }
}
.ui-icon__percent {
  &:before {
    content: $ui-icon__percent; 
  }
}
.ui-icon__phone-call {
  &:before {
    content: $ui-icon__phone-call; 
  }
}
.ui-icon__pie-chart {
  &:before {
    content: $ui-icon__pie-chart; 
  }
}
.ui-icon__play-circle {
  &:before {
    content: $ui-icon__play-circle; 
  }
}
.ui-icon__play {
  &:before {
    content: $ui-icon__play; 
  }
}
.ui-icon__plus-square {
  &:before {
    content: $ui-icon__plus-square; 
  }
}
.ui-icon__plus-circle {
  &:before {
    content: $ui-icon__plus-circle; 
  }
}
.ui-icon__plus {
  &:before {
    content: $ui-icon__plus; 
  }
}
.ui-icon__pocket {
  &:before {
    content: $ui-icon__pocket; 
  }
}
.ui-icon__printer {
  &:before {
    content: $ui-icon__printer; 
  }
}
.ui-icon__power {
  &:before {
    content: $ui-icon__power; 
  }
}
.ui-icon__radio {
  &:before {
    content: $ui-icon__radio; 
  }
}
.ui-icon__repeat {
  &:before {
    content: $ui-icon__repeat; 
  }
}
.ui-icon__refresh-ccw {
  &:before {
    content: $ui-icon__refresh-ccw; 
  }
}
.ui-icon__rewind {
  &:before {
    content: $ui-icon__rewind; 
  }
}
.ui-icon__rotate-ccw {
  &:before {
    content: $ui-icon__rotate-ccw; 
  }
}
.ui-icon__refresh-cw {
  &:before {
    content: $ui-icon__refresh-cw; 
  }
}
.ui-icon__rotate-cw {
  &:before {
    content: $ui-icon__rotate-cw; 
  }
}
.ui-icon__save {
  &:before {
    content: $ui-icon__save; 
  }
}
.ui-icon__search {
  &:before {
    content: $ui-icon__search; 
  }
}
.ui-icon__server {
  &:before {
    content: $ui-icon__server; 
  }
}
.ui-icon__scissors {
  &:before {
    content: $ui-icon__scissors; 
  }
}
.ui-icon__share- {
  &:before {
    content: $ui-icon__share-; 
  }
}
.ui-icon__share {
  &:before {
    content: $ui-icon__share; 
  }
}
.ui-icon__shield {
  &:before {
    content: $ui-icon__shield; 
  }
}
.ui-icon__settings {
  &:before {
    content: $ui-icon__settings; 
  }
}
.ui-icon__skip-back {
  &:before {
    content: $ui-icon__skip-back; 
  }
}
.ui-icon__shuffle {
  &:before {
    content: $ui-icon__shuffle; 
  }
}
.ui-icon__sidebar {
  &:before {
    content: $ui-icon__sidebar; 
  }
}
.ui-icon__skip-forward {
  &:before {
    content: $ui-icon__skip-forward; 
  }
}
.ui-icon__slack {
  &:before {
    content: $ui-icon__slack; 
  }
}
.ui-icon__slash {
  &:before {
    content: $ui-icon__slash; 
  }
}
.ui-icon__smartphone {
  &:before {
    content: $ui-icon__smartphone; 
  }
}
.ui-icon__square {
  &:before {
    content: $ui-icon__square; 
  }
}
.ui-icon__speaker {
  &:before {
    content: $ui-icon__speaker; 
  }
}
.ui-icon__star {
  &:before {
    content: $ui-icon__star; 
  }
}
.ui-icon__stop-circle {
  &:before {
    content: $ui-icon__stop-circle; 
  }
}
.ui-icon__sun {
  &:before {
    content: $ui-icon__sun; 
  }
}
.ui-icon__sunrise {
  &:before {
    content: $ui-icon__sunrise; 
  }
}
.ui-icon__tablet {
  &:before {
    content: $ui-icon__tablet; 
  }
}
.ui-icon__tag {
  &:before {
    content: $ui-icon__tag; 
  }
}
.ui-icon__sunset {
  &:before {
    content: $ui-icon__sunset; 
  }
}
.ui-icon__target {
  &:before {
    content: $ui-icon__target; 
  }
}
.ui-icon__thermometer {
  &:before {
    content: $ui-icon__thermometer; 
  }
}
.ui-icon__thumbs-up {
  &:before {
    content: $ui-icon__thumbs-up; 
  }
}
.ui-icon__thumbs-down {
  &:before {
    content: $ui-icon__thumbs-down; 
  }
}
.ui-icon__toggle-left {
  &:before {
    content: $ui-icon__toggle-left; 
  }
}
.ui-icon__toggle-right {
  &:before {
    content: $ui-icon__toggle-right; 
  }
}
.ui-icon__trash- {
  &:before {
    content: $ui-icon__trash-; 
  }
}
.ui-icon__trash {
  &:before {
    content: $ui-icon__trash; 
  }
}
.ui-icon__trending-up {
  &:before {
    content: $ui-icon__trending-up; 
  }
}
.ui-icon__trending-down {
  &:before {
    content: $ui-icon__trending-down; 
  }
}
.ui-icon__triangle {
  &:before {
    content: $ui-icon__triangle; 
  }
}
.ui-icon__type {
  &:before {
    content: $ui-icon__type; 
  }
}
.ui-icon__twitter {
  &:before {
    content: $ui-icon__twitter; 
  }
}
.ui-icon__upload {
  &:before {
    content: $ui-icon__upload; 
  }
}
.ui-icon__umbrella {
  &:before {
    content: $ui-icon__umbrella; 
  }
}
.ui-icon__upload-cloud {
  &:before {
    content: $ui-icon__upload-cloud; 
  }
}
.ui-icon__unlock {
  &:before {
    content: $ui-icon__unlock; 
  }
}
.ui-icon__user-check {
  &:before {
    content: $ui-icon__user-check; 
  }
}
.ui-icon__user-minus {
  &:before {
    content: $ui-icon__user-minus; 
  }
}
.ui-icon__user-plus {
  &:before {
    content: $ui-icon__user-plus; 
  }
}
.ui-icon__user-x {
  &:before {
    content: $ui-icon__user-x; 
  }
}
.ui-icon__user {
  &:before {
    content: $ui-icon__user; 
  }
}
.ui-icon__users {
  &:before {
    content: $ui-icon__users; 
  }
}
.ui-icon__video-off {
  &:before {
    content: $ui-icon__video-off; 
  }
}
.ui-icon__video {
  &:before {
    content: $ui-icon__video; 
  }
}
.ui-icon__voicemail {
  &:before {
    content: $ui-icon__voicemail; 
  }
}
.ui-icon__volume-x {
  &:before {
    content: $ui-icon__volume-x; 
  }
}
.ui-icon__volume- {
  &:before {
    content: $ui-icon__volume-; 
  }
}
.ui-icon__volume-1 {
  &:before {
    content: $ui-icon__volume-1; 
  }
}
.ui-icon__volume {
  &:before {
    content: $ui-icon__volume; 
  }
}
.ui-icon__watch {
  &:before {
    content: $ui-icon__watch; 
  }
}
.ui-icon__wifi {
  &:before {
    content: $ui-icon__wifi; 
  }
}
.ui-icon__x-square {
  &:before {
    content: $ui-icon__x-square; 
  }
}
.ui-icon__wind {
  &:before {
    content: $ui-icon__wind; 
  }
}
.ui-icon__x1 {
  &:before {
    content: $ui-icon__x1; 
  }
}
.ui-icon__x-circle {
  &:before {
    content: $ui-icon__x-circle; 
  }
}
.ui-icon__zap {
  &:before {
    content: $ui-icon__zap; 
  }
}
.ui-icon__zoom-in {
  &:before {
    content: $ui-icon__zoom-in; 
  }
}
.ui-icon__zoom-out {
  &:before {
    content: $ui-icon__zoom-out; 
  }
}
.ui-icon__command {
  &:before {
    content: $ui-icon__command; 
  }
}
.ui-icon__cloud {
  &:before {
    content: $ui-icon__cloud; 
  }
}
.ui-icon__hash {
  &:before {
    content: $ui-icon__hash; 
  }
}
.ui-icon__headphones {
  &:before {
    content: $ui-icon__headphones; 
  }
}
.ui-icon__underline {
  &:before {
    content: $ui-icon__underline; 
  }
}
.ui-icon__italic {
  &:before {
    content: $ui-icon__italic; 
  }
}
.ui-icon__bold {
  &:before {
    content: $ui-icon__bold; 
  }
}
.ui-icon__crop {
  &:before {
    content: $ui-icon__crop; 
  }
}
.ui-icon__help-circle {
  &:before {
    content: $ui-icon__help-circle; 
  }
}
.ui-icon__paperclip {
  &:before {
    content: $ui-icon__paperclip; 
  }
}
.ui-icon__shopping-cart {
  &:before {
    content: $ui-icon__shopping-cart; 
  }
}
.ui-icon__tv {
  &:before {
    content: $ui-icon__tv; 
  }
}
.ui-icon__wifi-off {
  &:before {
    content: $ui-icon__wifi-off; 
  }
}
.ui-icon__minimize {
  &:before {
    content: $ui-icon__minimize; 
  }
}
.ui-icon__maximize {
  &:before {
    content: $ui-icon__maximize; 
  }
}
.ui-icon__gitlab {
  &:before {
    content: $ui-icon__gitlab; 
  }
}
.ui-icon__sliders {
  &:before {
    content: $ui-icon__sliders; 
  }
}
.ui-icon__star-on {
  &:before {
    content: $ui-icon__star-on; 
  }
}
.ui-icon__heart-on {
  &:before {
    content: $ui-icon__heart-on; 
  }
}
.ui-icon__archive {
  &:before {
    content: $ui-icon__archive; 
  }
}
.ui-icon__arrow-down-circle {
  &:before {
    content: $ui-icon__arrow-down-circle; 
  }
}
.ui-icon__arrow-up-circle {
  &:before {
    content: $ui-icon__arrow-up-circle; 
  }
}
.ui-icon__arrow-left-circle {
  &:before {
    content: $ui-icon__arrow-left-circle; 
  }
}
.ui-icon__arrow-right-circle {
  &:before {
    content: $ui-icon__arrow-right-circle; 
  }
}
.ui-icon__bar-chart-line- {
  &:before {
    content: $ui-icon__bar-chart-line-; 
  }
}
.ui-icon__bar-chart-line {
  &:before {
    content: $ui-icon__bar-chart-line; 
  }
}
.ui-icon__book-open {
  &:before {
    content: $ui-icon__book-open; 
  }
}
.ui-icon__code {
  &:before {
    content: $ui-icon__code; 
  }
}
.ui-icon__database {
  &:before {
    content: $ui-icon__database; 
  }
}
.ui-icon__dollar-sign {
  &:before {
    content: $ui-icon__dollar-sign; 
  }
}
.ui-icon__folder-plus {
  &:before {
    content: $ui-icon__folder-plus; 
  }
}
.ui-icon__gift {
  &:before {
    content: $ui-icon__gift; 
  }
}
.ui-icon__folder-minus {
  &:before {
    content: $ui-icon__folder-minus; 
  }
}
.ui-icon__git-commit {
  &:before {
    content: $ui-icon__git-commit; 
  }
}
.ui-icon__git-branch {
  &:before {
    content: $ui-icon__git-branch; 
  }
}
.ui-icon__git-pull-request {
  &:before {
    content: $ui-icon__git-pull-request; 
  }
}
.ui-icon__git-merge {
  &:before {
    content: $ui-icon__git-merge; 
  }
}
.ui-icon__hard-drive {
  &:before {
    content: $ui-icon__hard-drive; 
  }
}
.ui-icon__more-vertical- {
  &:before {
    content: $ui-icon__more-vertical-; 
  }
}
.ui-icon__more-horizontal- {
  &:before {
    content: $ui-icon__more-horizontal-; 
  }
}
.ui-icon__rss {
  &:before {
    content: $ui-icon__rss; 
  }
}
.ui-icon__send {
  &:before {
    content: $ui-icon__send; 
  }
}
.ui-icon__shield-off {
  &:before {
    content: $ui-icon__shield-off; 
  }
}
.ui-icon__shopping-bag {
  &:before {
    content: $ui-icon__shopping-bag; 
  }
}
.ui-icon__terminal {
  &:before {
    content: $ui-icon__terminal; 
  }
}
.ui-icon__truck {
  &:before {
    content: $ui-icon__truck; 
  }
}
.ui-icon__zap-off {
  &:before {
    content: $ui-icon__zap-off; 
  }
}
.ui-icon__youtube {
  &:before {
    content: $ui-icon__youtube; 
  }
}

