@font-face {
  font-family: 'ui-icons';
  src:
    url('fonts/ui-icons.ttf?oihngi') format('truetype'),
    url('fonts/ui-icons.woff?oihngi') format('woff'),
    url('fonts/ui-icons.svg?oihngi#ui-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ui-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ui-icon__help:before {
  content: "\e92b";
}
.ui-icon__layout-grid3:before {
  content: "\e92e";
}
.ui-icon__x:before {
  content: "\78";
}
.ui-icon__alert-octagon:before {
  content: "\e81b";
}
.ui-icon__alert-circle:before {
  content: "\e81c";
}
.ui-icon__activity:before {
  content: "\e81d";
}
.ui-icon__alert-triangle:before {
  content: "\e81e";
}
.ui-icon__align-center:before {
  content: "\e81f";
}
.ui-icon__airplay:before {
  content: "\e820";
}
.ui-icon__align-justify:before {
  content: "\e821";
}
.ui-icon__align-left:before {
  content: "\e822";
}
.ui-icon__align-right:before {
  content: "\e823";
}
.ui-icon__arrow-down-left:before {
  content: "\e824";
}
.ui-icon__arrow-down-right:before {
  content: "\e825";
}
.ui-icon__anchor:before {
  content: "\e826";
}
.ui-icon__aperture:before {
  content: "\e827";
}
.ui-icon__arrow-left:before {
  content: "\e828";
}
.ui-icon__arrow-right:before {
  content: "\e829";
}
.ui-icon__arrow-down:before {
  content: "\e82a";
}
.ui-icon__arrow-up-left:before {
  content: "\e82b";
}
.ui-icon__arrow-up-right:before {
  content: "\e82c";
}
.ui-icon__arrow-up:before {
  content: "\e82d";
}
.ui-icon__award:before {
  content: "\e82e";
}
.ui-icon__bar-chart:before {
  content: "\e82f";
}
.ui-icon__at-sign:before {
  content: "\e830";
}
.ui-icon__bar-chart-:before {
  content: "\e831";
}
.ui-icon__battery-charging:before {
  content: "\e832";
}
.ui-icon__bell-off:before {
  content: "\e833";
}
.ui-icon__battery:before {
  content: "\e834";
}
.ui-icon__bluetooth:before {
  content: "\e835";
}
.ui-icon__bell:before {
  content: "\e836";
}
.ui-icon__book:before {
  content: "\e837";
}
.ui-icon__briefcase:before {
  content: "\e838";
}
.ui-icon__camera-off:before {
  content: "\e839";
}
.ui-icon__calendar:before {
  content: "\e83a";
}
.ui-icon__bookmark:before {
  content: "\e83b";
}
.ui-icon__box:before {
  content: "\e83c";
}
.ui-icon__camera:before {
  content: "\e83d";
}
.ui-icon__check-circle:before {
  content: "\e83e";
}
.ui-icon__check:before {
  content: "\e83f";
}
.ui-icon__check-square:before {
  content: "\e840";
}
.ui-icon__cast:before {
  content: "\e841";
}
.ui-icon__chevron-down:before {
  content: "\e842";
}
.ui-icon__chevron-left:before {
  content: "\e843";
}
.ui-icon__chevron-right:before {
  content: "\e844";
}
.ui-icon__chevron-up:before {
  content: "\e845";
}
.ui-icon__chevrons-down:before {
  content: "\e846";
}
.ui-icon__chevrons-right:before {
  content: "\e847";
}
.ui-icon__chevrons-up:before {
  content: "\e848";
}
.ui-icon__chevrons-left:before {
  content: "\e849";
}
.ui-icon__circle:before {
  content: "\e84a";
}
.ui-icon__clipboard:before {
  content: "\e84b";
}
.ui-icon__chrome:before {
  content: "\e84c";
}
.ui-icon__clock:before {
  content: "\e84d";
}
.ui-icon__cloud-lightning:before {
  content: "\e84e";
}
.ui-icon__cloud-drizzle:before {
  content: "\e84f";
}
.ui-icon__cloud-rain:before {
  content: "\e850";
}
.ui-icon__cloud-off:before {
  content: "\e851";
}
.ui-icon__codepen:before {
  content: "\e852";
}
.ui-icon__cloud-snow:before {
  content: "\e853";
}
.ui-icon__compass:before {
  content: "\e854";
}
.ui-icon__copy:before {
  content: "\e855";
}
.ui-icon__corner-down-right:before {
  content: "\e856";
}
.ui-icon__corner-down-left:before {
  content: "\e857";
}
.ui-icon__corner-left-down:before {
  content: "\e858";
}
.ui-icon__corner-left-up:before {
  content: "\e859";
}
.ui-icon__corner-up-left:before {
  content: "\e85a";
}
.ui-icon__corner-up-right:before {
  content: "\e85b";
}
.ui-icon__corner-right-down:before {
  content: "\e85c";
}
.ui-icon__corner-right-up:before {
  content: "\e85d";
}
.ui-icon__cpu:before {
  content: "\e85e";
}
.ui-icon__credit-card:before {
  content: "\e85f";
}
.ui-icon__crosshair:before {
  content: "\e860";
}
.ui-icon__disc:before {
  content: "\e861";
}
.ui-icon__delete:before {
  content: "\e862";
}
.ui-icon__download-cloud:before {
  content: "\e863";
}
.ui-icon__download:before {
  content: "\e864";
}
.ui-icon__droplet:before {
  content: "\e865";
}
.ui-icon__edit-:before {
  content: "\e866";
}
.ui-icon__edit:before {
  content: "\e867";
}
.ui-icon__edit-1:before {
  content: "\e868";
}
.ui-icon__external-link:before {
  content: "\e869";
}
.ui-icon__eye:before {
  content: "\e86a";
}
.ui-icon__feather:before {
  content: "\e86b";
}
.ui-icon__file-minus:before {
  content: "\e86d";
}
.ui-icon__eye-off:before {
  content: "\e86e";
}
.ui-icon__fast-forward:before {
  content: "\e86f";
}
.ui-icon__file-text:before {
  content: "\e870";
}
.ui-icon__film:before {
  content: "\e871";
}
.ui-icon__file:before {
  content: "\e872";
}
.ui-icon__file-plus:before {
  content: "\e873";
}
.ui-icon__folder:before {
  content: "\e874";
}
.ui-icon__filter:before {
  content: "\e875";
}
.ui-icon__flag:before {
  content: "\e876";
}
.ui-icon__globe:before {
  content: "\e877";
}
.ui-icon__grid:before {
  content: "\e878";
}
.ui-icon__heart:before {
  content: "\e879";
}
.ui-icon__home:before {
  content: "\e87a";
}
.ui-icon__github:before {
  content: "\e87b";
}
.ui-icon__image:before {
  content: "\e87c";
}
.ui-icon__inbox:before {
  content: "\e87d";
}
.ui-icon__layers:before {
  content: "\e87e";
}
.ui-icon__info:before {
  content: "\e87f";
}
.ui-icon__instagram:before {
  content: "\e880";
}
.ui-icon__layout:before {
  content: "\e881";
}
.ui-icon__link-:before {
  content: "\e882";
}
.ui-icon__life-buoy:before {
  content: "\e883";
}
.ui-icon__link:before {
  content: "\e884";
}
.ui-icon__log-in:before {
  content: "\e885";
}
.ui-icon__list:before {
  content: "\e886";
}
.ui-icon__lock:before {
  content: "\e887";
}
.ui-icon__log-out:before {
  content: "\e888";
}
.ui-icon__loader:before {
  content: "\e889";
}
.ui-icon__mail:before {
  content: "\e88a";
}
.ui-icon__maximize-:before {
  content: "\e88b";
}
.ui-icon__map:before {
  content: "\e88c";
}
.ui-icon__map-pin:before {
  content: "\e88e";
}
.ui-icon__menu:before {
  content: "\e88f";
}
.ui-icon__message-circle:before {
  content: "\e890";
}
.ui-icon__message-square:before {
  content: "\e891";
}
.ui-icon__minimize-:before {
  content: "\e892";
}
.ui-icon__mic-off:before {
  content: "\e893";
}
.ui-icon__minus-circle:before {
  content: "\e894";
}
.ui-icon__mic:before {
  content: "\e895";
}
.ui-icon__minus-square:before {
  content: "\e896";
}
.ui-icon__minus:before {
  content: "\e897";
}
.ui-icon__moon:before {
  content: "\e898";
}
.ui-icon__monitor:before {
  content: "\e899";
}
.ui-icon__more-vertical:before {
  content: "\e89a";
}
.ui-icon__more-horizontal:before {
  content: "\e89b";
}
.ui-icon__music:before {
  content: "\e89d";
}
.ui-icon__navigation-:before {
  content: "\e89e";
}
.ui-icon__navigation:before {
  content: "\e89f";
}
.ui-icon__octagon:before {
  content: "\e8a0";
}
.ui-icon__package:before {
  content: "\e8a1";
}
.ui-icon__pause-circle:before {
  content: "\e8a2";
}
.ui-icon__pause:before {
  content: "\e8a3";
}
.ui-icon__percent:before {
  content: "\e8a4";
}
.ui-icon__phone-call:before {
  content: "\e8a5";
}
.ui-icon__pie-chart:before {
  content: "\e8ac";
}
.ui-icon__play-circle:before {
  content: "\e8ad";
}
.ui-icon__play:before {
  content: "\e8ae";
}
.ui-icon__plus-square:before {
  content: "\e8af";
}
.ui-icon__plus-circle:before {
  content: "\e8b0";
}
.ui-icon__plus:before {
  content: "\e8b1";
}
.ui-icon__pocket:before {
  content: "\e8b2";
}
.ui-icon__printer:before {
  content: "\e8b3";
}
.ui-icon__power:before {
  content: "\e8b4";
}
.ui-icon__radio:before {
  content: "\e8b5";
}
.ui-icon__repeat:before {
  content: "\e8b6";
}
.ui-icon__refresh-ccw:before {
  content: "\e8b7";
}
.ui-icon__rewind:before {
  content: "\e8b8";
}
.ui-icon__rotate-ccw:before {
  content: "\e8b9";
}
.ui-icon__refresh-cw:before {
  content: "\e8ba";
}
.ui-icon__rotate-cw:before {
  content: "\e8bb";
}
.ui-icon__save:before {
  content: "\e8bc";
}
.ui-icon__search:before {
  content: "\e8bd";
}
.ui-icon__server:before {
  content: "\e8be";
}
.ui-icon__scissors:before {
  content: "\e8bf";
}
.ui-icon__share-:before {
  content: "\e8c0";
}
.ui-icon__share:before {
  content: "\e8c1";
}
.ui-icon__shield:before {
  content: "\e8c2";
}
.ui-icon__settings:before {
  content: "\e8c3";
}
.ui-icon__skip-back:before {
  content: "\e8c4";
}
.ui-icon__shuffle:before {
  content: "\e8c5";
}
.ui-icon__sidebar:before {
  content: "\e8c6";
}
.ui-icon__skip-forward:before {
  content: "\e8c7";
}
.ui-icon__slack:before {
  content: "\e8c8";
}
.ui-icon__slash:before {
  content: "\e8c9";
}
.ui-icon__smartphone:before {
  content: "\e8ca";
}
.ui-icon__square:before {
  content: "\e8cb";
}
.ui-icon__speaker:before {
  content: "\e8cc";
}
.ui-icon__star:before {
  content: "\e8cd";
}
.ui-icon__stop-circle:before {
  content: "\e8ce";
}
.ui-icon__sun:before {
  content: "\e8cf";
}
.ui-icon__sunrise:before {
  content: "\e8d0";
}
.ui-icon__tablet:before {
  content: "\e8d1";
}
.ui-icon__tag:before {
  content: "\e8d2";
}
.ui-icon__sunset:before {
  content: "\e8d3";
}
.ui-icon__target:before {
  content: "\e8d4";
}
.ui-icon__thermometer:before {
  content: "\e8d5";
}
.ui-icon__thumbs-up:before {
  content: "\e8d6";
}
.ui-icon__thumbs-down:before {
  content: "\e8d7";
}
.ui-icon__toggle-left:before {
  content: "\e8d8";
}
.ui-icon__toggle-right:before {
  content: "\e8d9";
}
.ui-icon__trash-:before {
  content: "\e8da";
}
.ui-icon__trash:before {
  content: "\e8db";
}
.ui-icon__trending-up:before {
  content: "\e8dc";
}
.ui-icon__trending-down:before {
  content: "\e8dd";
}
.ui-icon__triangle:before {
  content: "\e8de";
}
.ui-icon__type:before {
  content: "\e8df";
}
.ui-icon__twitter:before {
  content: "\e8e0";
}
.ui-icon__upload:before {
  content: "\e8e1";
}
.ui-icon__umbrella:before {
  content: "\e8e2";
}
.ui-icon__upload-cloud:before {
  content: "\e8e3";
}
.ui-icon__unlock:before {
  content: "\e8e4";
}
.ui-icon__user-check:before {
  content: "\e8e5";
}
.ui-icon__user-minus:before {
  content: "\e8e6";
}
.ui-icon__user-plus:before {
  content: "\e8e7";
}
.ui-icon__user-x:before {
  content: "\e8e8";
}
.ui-icon__user:before {
  content: "\e8e9";
}
.ui-icon__users:before {
  content: "\e8ea";
}
.ui-icon__video-off:before {
  content: "\e8eb";
}
.ui-icon__video:before {
  content: "\e8ec";
}
.ui-icon__voicemail:before {
  content: "\e8ed";
}
.ui-icon__volume-x:before {
  content: "\e8ee";
}
.ui-icon__volume-:before {
  content: "\e8ef";
}
.ui-icon__volume-1:before {
  content: "\e8f0";
}
.ui-icon__volume:before {
  content: "\e8f1";
}
.ui-icon__watch:before {
  content: "\e8f2";
}
.ui-icon__wifi:before {
  content: "\e8f3";
}
.ui-icon__x-square:before {
  content: "\e8f4";
}
.ui-icon__wind:before {
  content: "\e8f5";
}
.ui-icon__x1:before {
  content: "\e8f6";
}
.ui-icon__x-circle:before {
  content: "\e8f7";
}
.ui-icon__zap:before {
  content: "\e8f8";
}
.ui-icon__zoom-in:before {
  content: "\e8f9";
}
.ui-icon__zoom-out:before {
  content: "\e8fa";
}
.ui-icon__command:before {
  content: "\e8fb";
}
.ui-icon__cloud:before {
  content: "\e8fc";
}
.ui-icon__hash:before {
  content: "\e8fd";
}
.ui-icon__headphones:before {
  content: "\e8fe";
}
.ui-icon__underline:before {
  content: "\e8ff";
}
.ui-icon__italic:before {
  content: "\e900";
}
.ui-icon__bold:before {
  content: "\e901";
}
.ui-icon__crop:before {
  content: "\e902";
}
.ui-icon__help-circle:before {
  content: "\e903";
}
.ui-icon__paperclip:before {
  content: "\e904";
}
.ui-icon__shopping-cart:before {
  content: "\e905";
}
.ui-icon__tv:before {
  content: "\e906";
}
.ui-icon__wifi-off:before {
  content: "\e907";
}
.ui-icon__minimize:before {
  content: "\e88d";
}
.ui-icon__maximize:before {
  content: "\e908";
}
.ui-icon__gitlab:before {
  content: "\e909";
}
.ui-icon__sliders:before {
  content: "\e90a";
}
.ui-icon__star-on:before {
  content: "\e90b";
}
.ui-icon__heart-on:before {
  content: "\e90c";
}
.ui-icon__archive:before {
  content: "\e90d";
}
.ui-icon__arrow-down-circle:before {
  content: "\e90e";
}
.ui-icon__arrow-up-circle:before {
  content: "\e90f";
}
.ui-icon__arrow-left-circle:before {
  content: "\e910";
}
.ui-icon__arrow-right-circle:before {
  content: "\e911";
}
.ui-icon__bar-chart-line-:before {
  content: "\e912";
}
.ui-icon__bar-chart-line:before {
  content: "\e913";
}
.ui-icon__book-open:before {
  content: "\e914";
}
.ui-icon__code:before {
  content: "\e915";
}
.ui-icon__database:before {
  content: "\e916";
}
.ui-icon__dollar-sign:before {
  content: "\e917";
}
.ui-icon__folder-plus:before {
  content: "\e918";
}
.ui-icon__gift:before {
  content: "\e919";
}
.ui-icon__folder-minus:before {
  content: "\e91a";
}
.ui-icon__git-commit:before {
  content: "\e91b";
}
.ui-icon__git-branch:before {
  content: "\e91c";
}
.ui-icon__git-pull-request:before {
  content: "\e91d";
}
.ui-icon__git-merge:before {
  content: "\e91e";
}
.ui-icon__hard-drive:before {
  content: "\e920";
}
.ui-icon__more-vertical-:before {
  content: "\e921";
}
.ui-icon__more-horizontal-:before {
  content: "\e922";
}
.ui-icon__rss:before {
  content: "\e923";
}
.ui-icon__send:before {
  content: "\e924";
}
.ui-icon__shield-off:before {
  content: "\e925";
}
.ui-icon__shopping-bag:before {
  content: "\e926";
}
.ui-icon__terminal:before {
  content: "\e927";
}
.ui-icon__truck:before {
  content: "\e928";
}
.ui-icon__zap-off:before {
  content: "\e929";
}
.ui-icon__youtube:before {
  content: "\e92a";
}
