$icomoon-font-family: "ui-icons" !default;
$icomoon-font-path: "fonts" !default;

$ui-icon__help: "\e92b";
$ui-icon__layout-grid3: "\e92e";
$ui-icon__x: "\78";
$ui-icon__alert-octagon: "\e81b";
$ui-icon__alert-circle: "\e81c";
$ui-icon__activity: "\e81d";
$ui-icon__alert-triangle: "\e81e";
$ui-icon__align-center: "\e81f";
$ui-icon__airplay: "\e820";
$ui-icon__align-justify: "\e821";
$ui-icon__align-left: "\e822";
$ui-icon__align-right: "\e823";
$ui-icon__arrow-down-left: "\e824";
$ui-icon__arrow-down-right: "\e825";
$ui-icon__anchor: "\e826";
$ui-icon__aperture: "\e827";
$ui-icon__arrow-left: "\e828";
$ui-icon__arrow-right: "\e829";
$ui-icon__arrow-down: "\e82a";
$ui-icon__arrow-up-left: "\e82b";
$ui-icon__arrow-up-right: "\e82c";
$ui-icon__arrow-up: "\e82d";
$ui-icon__award: "\e82e";
$ui-icon__bar-chart: "\e82f";
$ui-icon__at-sign: "\e830";
$ui-icon__bar-chart-: "\e831";
$ui-icon__battery-charging: "\e832";
$ui-icon__bell-off: "\e833";
$ui-icon__battery: "\e834";
$ui-icon__bluetooth: "\e835";
$ui-icon__bell: "\e836";
$ui-icon__book: "\e837";
$ui-icon__briefcase: "\e838";
$ui-icon__camera-off: "\e839";
$ui-icon__calendar: "\e83a";
$ui-icon__bookmark: "\e83b";
$ui-icon__box: "\e83c";
$ui-icon__camera: "\e83d";
$ui-icon__check-circle: "\e83e";
$ui-icon__check: "\e83f";
$ui-icon__check-square: "\e840";
$ui-icon__cast: "\e841";
$ui-icon__chevron-down: "\e842";
$ui-icon__chevron-left: "\e843";
$ui-icon__chevron-right: "\e844";
$ui-icon__chevron-up: "\e845";
$ui-icon__chevrons-down: "\e846";
$ui-icon__chevrons-right: "\e847";
$ui-icon__chevrons-up: "\e848";
$ui-icon__chevrons-left: "\e849";
$ui-icon__circle: "\e84a";
$ui-icon__clipboard: "\e84b";
$ui-icon__chrome: "\e84c";
$ui-icon__clock: "\e84d";
$ui-icon__cloud-lightning: "\e84e";
$ui-icon__cloud-drizzle: "\e84f";
$ui-icon__cloud-rain: "\e850";
$ui-icon__cloud-off: "\e851";
$ui-icon__codepen: "\e852";
$ui-icon__cloud-snow: "\e853";
$ui-icon__compass: "\e854";
$ui-icon__copy: "\e855";
$ui-icon__corner-down-right: "\e856";
$ui-icon__corner-down-left: "\e857";
$ui-icon__corner-left-down: "\e858";
$ui-icon__corner-left-up: "\e859";
$ui-icon__corner-up-left: "\e85a";
$ui-icon__corner-up-right: "\e85b";
$ui-icon__corner-right-down: "\e85c";
$ui-icon__corner-right-up: "\e85d";
$ui-icon__cpu: "\e85e";
$ui-icon__credit-card: "\e85f";
$ui-icon__crosshair: "\e860";
$ui-icon__disc: "\e861";
$ui-icon__delete: "\e862";
$ui-icon__download-cloud: "\e863";
$ui-icon__download: "\e864";
$ui-icon__droplet: "\e865";
$ui-icon__edit-: "\e866";
$ui-icon__edit: "\e867";
$ui-icon__edit-1: "\e868";
$ui-icon__external-link: "\e869";
$ui-icon__eye: "\e86a";
$ui-icon__feather: "\e86b";
$ui-icon__file-minus: "\e86d";
$ui-icon__eye-off: "\e86e";
$ui-icon__fast-forward: "\e86f";
$ui-icon__file-text: "\e870";
$ui-icon__film: "\e871";
$ui-icon__file: "\e872";
$ui-icon__file-plus: "\e873";
$ui-icon__folder: "\e874";
$ui-icon__filter: "\e875";
$ui-icon__flag: "\e876";
$ui-icon__globe: "\e877";
$ui-icon__grid: "\e878";
$ui-icon__heart: "\e879";
$ui-icon__home: "\e87a";
$ui-icon__github: "\e87b";
$ui-icon__image: "\e87c";
$ui-icon__inbox: "\e87d";
$ui-icon__layers: "\e87e";
$ui-icon__info: "\e87f";
$ui-icon__instagram: "\e880";
$ui-icon__layout: "\e881";
$ui-icon__link-: "\e882";
$ui-icon__life-buoy: "\e883";
$ui-icon__link: "\e884";
$ui-icon__log-in: "\e885";
$ui-icon__list: "\e886";
$ui-icon__lock: "\e887";
$ui-icon__log-out: "\e888";
$ui-icon__loader: "\e889";
$ui-icon__mail: "\e88a";
$ui-icon__maximize-: "\e88b";
$ui-icon__map: "\e88c";
$ui-icon__map-pin: "\e88e";
$ui-icon__menu: "\e88f";
$ui-icon__message-circle: "\e890";
$ui-icon__message-square: "\e891";
$ui-icon__minimize-: "\e892";
$ui-icon__mic-off: "\e893";
$ui-icon__minus-circle: "\e894";
$ui-icon__mic: "\e895";
$ui-icon__minus-square: "\e896";
$ui-icon__minus: "\e897";
$ui-icon__moon: "\e898";
$ui-icon__monitor: "\e899";
$ui-icon__more-vertical: "\e89a";
$ui-icon__more-horizontal: "\e89b";
$ui-icon__music: "\e89d";
$ui-icon__navigation-: "\e89e";
$ui-icon__navigation: "\e89f";
$ui-icon__octagon: "\e8a0";
$ui-icon__package: "\e8a1";
$ui-icon__pause-circle: "\e8a2";
$ui-icon__pause: "\e8a3";
$ui-icon__percent: "\e8a4";
$ui-icon__phone-call: "\e8a5";
$ui-icon__pie-chart: "\e8ac";
$ui-icon__play-circle: "\e8ad";
$ui-icon__play: "\e8ae";
$ui-icon__plus-square: "\e8af";
$ui-icon__plus-circle: "\e8b0";
$ui-icon__plus: "\e8b1";
$ui-icon__pocket: "\e8b2";
$ui-icon__printer: "\e8b3";
$ui-icon__power: "\e8b4";
$ui-icon__radio: "\e8b5";
$ui-icon__repeat: "\e8b6";
$ui-icon__refresh-ccw: "\e8b7";
$ui-icon__rewind: "\e8b8";
$ui-icon__rotate-ccw: "\e8b9";
$ui-icon__refresh-cw: "\e8ba";
$ui-icon__rotate-cw: "\e8bb";
$ui-icon__save: "\e8bc";
$ui-icon__search: "\e8bd";
$ui-icon__server: "\e8be";
$ui-icon__scissors: "\e8bf";
$ui-icon__share-: "\e8c0";
$ui-icon__share: "\e8c1";
$ui-icon__shield: "\e8c2";
$ui-icon__settings: "\e8c3";
$ui-icon__skip-back: "\e8c4";
$ui-icon__shuffle: "\e8c5";
$ui-icon__sidebar: "\e8c6";
$ui-icon__skip-forward: "\e8c7";
$ui-icon__slack: "\e8c8";
$ui-icon__slash: "\e8c9";
$ui-icon__smartphone: "\e8ca";
$ui-icon__square: "\e8cb";
$ui-icon__speaker: "\e8cc";
$ui-icon__star: "\e8cd";
$ui-icon__stop-circle: "\e8ce";
$ui-icon__sun: "\e8cf";
$ui-icon__sunrise: "\e8d0";
$ui-icon__tablet: "\e8d1";
$ui-icon__tag: "\e8d2";
$ui-icon__sunset: "\e8d3";
$ui-icon__target: "\e8d4";
$ui-icon__thermometer: "\e8d5";
$ui-icon__thumbs-up: "\e8d6";
$ui-icon__thumbs-down: "\e8d7";
$ui-icon__toggle-left: "\e8d8";
$ui-icon__toggle-right: "\e8d9";
$ui-icon__trash-: "\e8da";
$ui-icon__trash: "\e8db";
$ui-icon__trending-up: "\e8dc";
$ui-icon__trending-down: "\e8dd";
$ui-icon__triangle: "\e8de";
$ui-icon__type: "\e8df";
$ui-icon__twitter: "\e8e0";
$ui-icon__upload: "\e8e1";
$ui-icon__umbrella: "\e8e2";
$ui-icon__upload-cloud: "\e8e3";
$ui-icon__unlock: "\e8e4";
$ui-icon__user-check: "\e8e5";
$ui-icon__user-minus: "\e8e6";
$ui-icon__user-plus: "\e8e7";
$ui-icon__user-x: "\e8e8";
$ui-icon__user: "\e8e9";
$ui-icon__users: "\e8ea";
$ui-icon__video-off: "\e8eb";
$ui-icon__video: "\e8ec";
$ui-icon__voicemail: "\e8ed";
$ui-icon__volume-x: "\e8ee";
$ui-icon__volume-: "\e8ef";
$ui-icon__volume-1: "\e8f0";
$ui-icon__volume: "\e8f1";
$ui-icon__watch: "\e8f2";
$ui-icon__wifi: "\e8f3";
$ui-icon__x-square: "\e8f4";
$ui-icon__wind: "\e8f5";
$ui-icon__x1: "\e8f6";
$ui-icon__x-circle: "\e8f7";
$ui-icon__zap: "\e8f8";
$ui-icon__zoom-in: "\e8f9";
$ui-icon__zoom-out: "\e8fa";
$ui-icon__command: "\e8fb";
$ui-icon__cloud: "\e8fc";
$ui-icon__hash: "\e8fd";
$ui-icon__headphones: "\e8fe";
$ui-icon__underline: "\e8ff";
$ui-icon__italic: "\e900";
$ui-icon__bold: "\e901";
$ui-icon__crop: "\e902";
$ui-icon__help-circle: "\e903";
$ui-icon__paperclip: "\e904";
$ui-icon__shopping-cart: "\e905";
$ui-icon__tv: "\e906";
$ui-icon__wifi-off: "\e907";
$ui-icon__minimize: "\e88d";
$ui-icon__maximize: "\e908";
$ui-icon__gitlab: "\e909";
$ui-icon__sliders: "\e90a";
$ui-icon__star-on: "\e90b";
$ui-icon__heart-on: "\e90c";
$ui-icon__archive: "\e90d";
$ui-icon__arrow-down-circle: "\e90e";
$ui-icon__arrow-up-circle: "\e90f";
$ui-icon__arrow-left-circle: "\e910";
$ui-icon__arrow-right-circle: "\e911";
$ui-icon__bar-chart-line-: "\e912";
$ui-icon__bar-chart-line: "\e913";
$ui-icon__book-open: "\e914";
$ui-icon__code: "\e915";
$ui-icon__database: "\e916";
$ui-icon__dollar-sign: "\e917";
$ui-icon__folder-plus: "\e918";
$ui-icon__gift: "\e919";
$ui-icon__folder-minus: "\e91a";
$ui-icon__git-commit: "\e91b";
$ui-icon__git-branch: "\e91c";
$ui-icon__git-pull-request: "\e91d";
$ui-icon__git-merge: "\e91e";
$ui-icon__hard-drive: "\e920";
$ui-icon__more-vertical-: "\e921";
$ui-icon__more-horizontal-: "\e922";
$ui-icon__rss: "\e923";
$ui-icon__send: "\e924";
$ui-icon__shield-off: "\e925";
$ui-icon__shopping-bag: "\e926";
$ui-icon__terminal: "\e927";
$ui-icon__truck: "\e928";
$ui-icon__zap-off: "\e929";
$ui-icon__youtube: "\e92a";

