<template>
  <div class="form-element">
    <div class="ui-cursor-pointer" @click="setInput">
      <ui-icon
        :name="local_checked === true ? 'check-square' : 'square'"
        class="ui-pr_1"
      />
      <span style="user-select: none">
        {{ label }}
      </span>
    </div>
  </div>
</template>

<script>
import { parseBoolean } from "../../plugins/parsers";

export default {
  name: "ui-checkbox",
  props: {
    label: String,
    checked: {
      type: [Boolean, String, Number],
      default: false
    },
    value: {
      type: Array,
      default() {
        return [];
      }
    }
  },

  data() {
    return {
      localValue: []
    };
  },

  computed: {
    local_checked() {
      return this.$props.value && this.$props.value.includes(this.$props.label);
    }
  },

  mounted() {
    if (!this.local_checked && parseBoolean(this.$props.checked) === true) {
      this.localValue = this.$props.value;
      this.localValue.push(this.$props.label);
    }
  },

  methods: {
    setInput() {
      this.localValue = [];

      if (!this.$props.value.includes(this.$props.label)) {
        this.localValue = Array.from(this.$props.value);
        this.localValue.push(this.$props.label);
      } else {
        this.localValue = this.$props.value.filter(
          label => label !== this.$props.label
        );
      }

      this.$emit("input", this.localValue);
    }
  }
};
</script>
