<template>
  <div class="form-element">
    <span v-show="label" class="form-element__label">
      {{ label }}
    </span>
    <div
      class="form-element__wrapper"
      :class="{ 'form-element__wrapper_error': error }"
    >
      <div class="form-element__icon" v-show="icon || loading">
        <ui-icon v-show="!loading" :name="icon" />
        <ui-icon v-show="loading" spin name="layout-grid3" />
      </div>
      <label :for="name" class="form-element__label-container">
        <input
          v-bind="$attrs"
          :type="password ? 'password' : 'text'"
          :name="name"
          :placeholder="placeholder ? placeholder : '...'"
          :value="value"
          :id="name"
          v-on="input_listeners"
          class="form-element__input"
          :autocomplete="autocomplete ? 'on' : 'off'"
        />
      </label>
      <div class="form-element__help" v-show="help">
        <form-elements-common-tooltip :help="help" />
      </div>
    </div>
    <p class="form-element__error ui-mt_0" v-show="error">
      {{ error_text }}
    </p>
  </div>
</template>

<script>
import _debounce from "lodash/debounce";
import FormElementsCommonTooltip from "./_common/form-elements-common-tooltip";

export default {
  name: "ui-input-text",
  components: { FormElementsCommonTooltip },
  props: {
    name: {
      type: String,
      require: true
    },
    icon: String,
    placeholder: String,
    label: String,
    value: [String, Number],
    password: Boolean,
    autocomplete: Boolean,
    error: {
      type: String,
      default: ""
    },
    help: String,
    loading: Boolean
  },

  data() {
    return {
      debounce: undefined
    };
  },

  computed: {
    input_listeners() {
      return Object.assign({}, this.$listeners, {
        input: event => {
          this.$emit("input", event.target.value);
          this.debounce(event);
        },
        change: event => {
          this.$emit("change", event.target.value);
        }
      });
    },
    error_text() {
      return this.$props.error;
    }
  },

  created() {
    this.debounce = _debounce(event => {
      this.$emit("input-debounce", event.target.value);
    }, 500);
  }
};
</script>
