<template>
  <div class="form-element">
    <span v-show="label" class="form-element__label">{{ label }}</span>
    <div
      class="form-element__wrapper"
      :class="{ 'form-element__wrapper_error': error }"
    >
      <div class="form-element__icon" v-show="icon || loading">
        <ui-icon v-show="!loading" :name="icon" />
        <ui-icon v-show="loading" spin name="layout-grid3" />
      </div>
      <label :for="name" class="form-element__label-container">
        <input
          v-bind="$attrs"
          type="text"
          :name="name"
          :placeholder="placeholder ? placeholder : '...'"
          :id="name"
          v-on="input_listeners"
          class="form-element__input"
          :autocomplete="autocomplete ? 'on' : 'off'"
          :disabled="loading"
        />
      </label>
      <div class="form-element__help" v-show="help">
        <form-elements-common-tooltip :help="help" />
      </div>
    </div>
    <p class="form-element__error ui-mt_0" v-show="error">{{ error_text }}</p>
  </div>
</template>

<script>
import _debounce from "lodash/debounce";
import FormElementsCommonTooltip from "./_common/form-elements-common-tooltip";
import { numberFormat } from "../../plugins/formats";

export default {
  name: "ui-input-number",
  components: { FormElementsCommonTooltip },
  props: {
    name: {
      type: String,
      require: true
    },
    icon: String,
    placeholder: String,
    label: String,
    value: {
      type: [String, Number],
      default: ""
    },
    autocomplete: Boolean,
    error: {
      type: String,
      default: ""
    },
    help: String,
    loading: Boolean,
    decimals: {
      type: Number,
      default: 2
    }
  },

  data() {
    return {
      debounce: undefined,
      localValue: "",
      localValueCache: ""
    };
  },

  computed: {
    input_listeners() {
      return Object.assign({}, this.$listeners, {
        input: event => {
          this.setLocalValue(event.target);
          this.$emit("input", this.localValue);
          this.debounce(this.localValue);
        },
        change: event => {
          this.setLocalValue(event.target);
          this.$emit("change", this.localValue);
        }
      });
    },
    error_text() {
      return this.$props.error;
    }
  },

  created() {
    this.debounce = _debounce(value => {
      this.$emit("input-debounce", value);
    }, 500);
  },

  mounted() {
    if (this.$props.value) {
      let input = document.getElementById(this.$props.name);
      if (input) {
        input.value = this.$props.value
          ? parseFloat(this.$props.value).toFixed(this.$props.decimals)
          : "";
        this.setLocalValue(input);
      }
    }
  },

  methods: {
    setLocalValue(input) {
      let value = this.getLocalValue(input.value.toString());
      if (value === "continue") return;
      if (value) {
        let valueFormat = numberFormat(value, this.$props.decimals, ".", " ");
        this.localValue = valueFormat.replace(/\s/g, "");
        input.value = valueFormat;
      } else {
        this.localValue = 0;
        input.value = "";
      }
    },
    getLocalValue(value) {
      if (!value) return "";
      value = value.replace(/,/g, ".");
      value = value.replace(/\s/g, "");

      if (value.match(/[^.]+\.$/) || value.match(/^-$/)) {
        return "continue";
      }

      return parseFloat(value);
    }
  }
};
</script>
