<template>
  <div class="form-element">
    <div class="ui-cursor-pointer" @click="setInput">
      <ui-icon
        :name="local_checked === true ? 'check-circle' : 'circle'"
        class="ui-pr_1"
      />
      <span style="user-select: none">
        {{ label }}
      </span>
    </div>
  </div>
</template>

<script>
import { parseBoolean } from "../../plugins/parsers";

export default {
  name: "ui-radio",
  props: {
    label: {
      type: String,
      default: ""
    },
    checked: {
      type: [Boolean, String, Number],
      default: false
    },
    value: {
      type: String,
      default: ""
    }
  },

  data() {
    return {
      localValue: ""
    };
  },

  computed: {
    local_checked() {
      return this.$props.value && this.$props.value === this.$props.label;
    }
  },

  mounted() {
    if (!this.local_checked && parseBoolean(this.$props.checked) === true) {
      this.$emit("click", this.$props.label);
    }
  },

  methods: {
    setInput() {
      this.$emit("click", this.$props.label);
    }
  }
};
</script>
