<template>
  <div class="form-element">
    {{ $el }}
    <span v-show="label" class="form-element__label">
      {{ label }}
    </span>
    <div
      class="form-element__wrapper"
      :class="{ 'form-element__wrapper_error': error }"
    >
      <div class="form-element__icon" v-show="icon || loading">
        <ui-icon v-show="!loading" :name="icon" />
        <ui-icon v-show="loading" spin name="layout-grid3" />
      </div>
      <label :for="name" class="form-element__label-container">
        <input
          type="text"
          :name="name"
          :placeholder="placeholder ? placeholder : 'Не выбрано'"
          :value="option"
          :id="name"
          class="form-element__input"
          autocomplete="off"
          :disabled="disabled"
          @click="viewSelect = true"
          @input="searchItem"
        />
      </label>
      <div class="form-element__select-list" v-show="viewSelect">
        <template v-for="(item, index) in listItems">
          <div
            class="form-element__select-list__item ui-cursor-pointer"
            :key="index"
            @click.stop="setInput(item)"
          >
            <span>{{ item[itemText] }}</span>
          </div>
        </template>
      </div>
      <div class="form-element__help" v-show="help">
        <form-elements-common-tooltip :help="help" />
      </div>
    </div>
    <p class="form-element__error ui-mt_0" v-show="error">
      {{ error_text }}
    </p>
  </div>
</template>

<script>
import FormElementsCommonTooltip from "./_common/form-elements-common-tooltip";

export default {
  name: "ui-select-autocomplete",
  components: { FormElementsCommonTooltip },
  props: {
    name: {
      type: String,
      require: true
    },
    list: {
      type: Array,
      require: true,
      default() {
        return [];
      }
    },
    itemKey: {
      type: String,
      default: "id"
    },
    itemText: {
      type: String,
      default: "name"
    },
    returnObject: Boolean,
    icon: String,
    placeholder: String,
    disabled: Boolean,
    label: String,
    value: [String, Number, Object],
    error: {
      type: String,
      default: ""
    },
    help: String,
    loading: Boolean
  },

  data() {
    return {
      viewSelect: false,
      option: undefined,
      optionId: undefined,
      listItems: this.$props.list
    };
  },

  computed: {
    error_text() {
      return this.$props.error;
    }
  },

  mounted() {
    document.addEventListener("click", event => {
      if (event.target.id !== this.$props.name) {
        this.viewSelect = false;
      }
    });

    if (this.$props.value) {
      this.$props.list.forEach(item => {
        if (this.$props.value[this.$props.itemKey]) {
          if (
            item[this.$props.itemKey].toString() ===
            this.$props.value[this.$props.itemKey].toString()
          ) {
            this.setInput(item);
            return true;
          }
        } else {
          if (
            item[this.$props.itemKey].toString() ===
            this.$props.value.toString()
          ) {
            this.setInput(item);
            return true;
          }
        }
      });
    }
  },

  methods: {
    setInput(item) {
      if (!item) return;
      this.option = item[this.$props.itemText];
      this.optionId = item[this.$props.itemKey];
      this.viewSelect = false;

      this.$emit(
        "change",
        this.$props.returnObject ? item : item[this.$props.itemKey]
      );
    },
    searchItem(event) {
      this.option = event.target.value.toString();
      if (!this.option) return;

      this.listItems = this.$props.list.filter(
        item => item[this.$props.itemText].search(this.option) !== -1
      );
    }
  }
};
</script>
