<template>
  <div class="form-element">
    <span v-show="label" class="form-element__label">
      {{ label }}
    </span>
    <div
      class="form-element__wrapper"
      :class="{ 'form-element__wrapper_error': error }"
    >
      <label :for="name" class="form-element__label-container">
        <textarea
          :name="name"
          :placeholder="placeholder ? placeholder : '...'"
          v-bind="$attrs"
          :value="value"
          :id="name"
          class="form-element__input"
          v-on="input_listeners"
          :rows="height === '' ? rows : ''"
          :height="height"
          style="margin-bottom: -6px;"
        ></textarea>
      </label>
      <div
        class="form-element__help"
        v-show="help || loading"
        style="border-bottom:1px solid #ddd"
      >
        <form-elements-common-tooltip :help="help" v-if="!loading" />
        <ui-icon spin name="layout-grid3" v-else />
      </div>
    </div>
    <p class="form-element__error ui-mt_0" v-show="error">
      {{ error_text }}
    </p>
  </div>
</template>

<script>
import _debounce from "lodash/debounce";
import FormElementsCommonTooltip from "./_common/form-elements-common-tooltip";

export default {
  name: "ui-textarea",
  components: { FormElementsCommonTooltip },
  props: {
    name: {
      type: String,
      require: true
    },
    placeholder: String,
    label: String,
    value: [String, Number],
    error: {
      type: String,
      default: ""
    },
    help: String,
    loading: Boolean,
    rows: {
      type: Number,
      default: 10
    },
    height: {
      type: String,
      default: ""
    }
  },

  data() {
    return {
      debounce: undefined
    };
  },

  computed: {
    input_listeners() {
      return Object.assign({}, this.$listeners, {
        input: event => {
          this.$emit("input", event.target.value);
          this.debounce(event);
        },
        change: event => {
          this.$emit("change", event.target.value);
        }
      });
    },
    error_text() {
      return this.$props.error;
    }
  },

  created() {
    this.debounce = _debounce(event => {
      this.$emit("input-debounce", event.target.value);
    }, 500);
  }
};
</script>
