$fonts: 'Roboto', Tahoma, sans-serif;

$colors: (
  text: #444,
  default: rgba(111,78,45, 1),
  danger: rgba(193, 98, 99, 1),
  success: rgba(122, 175, 71, 1),
  warning: rgba(220, 149, 104, 1),
  info: rgba(93, 171, 183, 1),
  tomato: rgba(255, 99, 71, 1),
  blue: rgba(0, 124, 194, 1),
  white: rgba(255, 255, 255, 1)
);

$colorsHover: (
  default: rgba(111,78,45, 0.15),
  danger: rgba(193, 98, 99, 0.15),
  success: rgba(122, 175, 71, 0.15),
  warning: rgba(220, 149, 104, 0.15),
  info: rgba(93, 171, 183, 0.15)
);

$colorsHover2: (
  default: rgba(111,78,45, 0.7),
  danger: rgba(193, 98, 99, 0.7),
  success: rgba(122, 175, 71, 0.7),
  warning: rgba(220, 149, 104, 0.7),
  info: rgba(93, 171, 183, 0.15)
);

$textSize: (
  default: 15px,
  btn: 13px
);

$radius: (
  btn: 3px
);
