.ui-animation {
  &__fade {
    &-enter-active, &-leave-active {
      transition: opacity .7s;
    }

    &-enter, &-leave-to {
      opacity: 0;
    }
  }
}


@keyframes ui-keyframes__spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
