@import "vars";

.ui-btn-group {
  margin: 1px 2px;
  display: inline-block;

  .ui-btn {
    margin: 0;
    border-radius: 0
  }

  .ui-btn:first-child {
    border-bottom-left-radius: map-get($radius, 'btn');
    border-top-left-radius: map-get($radius, 'btn');
  }

  .ui-btn:last-child {
    border-bottom-right-radius: map-get($radius, 'btn');
    border-top-right-radius: map-get($radius, 'btn');
  }
}
