@import "vars";

.ui-btn {
  display: inline-block;
  background: none;
  border: 1px solid currentColor;
  color: #fefefe;
  border-radius: map-get($radius, 'btn');
  outline: none;
  cursor: pointer;
  padding: 13px 17px;
  line-height: .9;
  margin: 2px 1px;
  transition-duration: 1s;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: map-get($textSize, 'btn');

  @each $btn in ('default', 'danger', 'success', 'warning', 'info') {
    &_#{$btn}:not(&_outline) {
      background-color: map-get($colors, $btn);
      border-color: map-get($colors, $btn);

      &:hover {
        background-color: map-get($colorsHover2, $btn);
      }
    }
  
    &_#{$btn}.ui-btn_outline {
      color: map-get($colors, $btn);
      &:hover {
        background-color: map-get($colorsHover, $btn);
      }
    }
  }

  &_size-sm {
    font-size: map-get($textSize, 'btn') - 2px;
    padding: 10px 14px 8px;
  }

  &_size-lg {
    font-size: map-get($textSize, 'btn') + 3px;
    padding: 17px 21px 15px;
  }

  &[disabled="disabled"] {
    opacity: .7;
  }

  &[disabled="disabled"] {
    cursor: not-allowed;
  }

  &_full-width {
    width: 100%;
  }
}
