.ui-card {
  width: 100%;
  background-color: #fff;
  padding: 15px;
  border-radius: 3px;
  border: 1px solid #ddd;
  margin-bottom: 30px;

  &__head {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 15px;

    &_flex {
      align-items: center;
    }

    &-icon {
      padding-right: 10px;
      font-size: 20px;
    }

    &-h3 {
      margin: 0;
      display: inline-block;
      text-transform: uppercase;
      font-size: 15px;
    }
  }

  &__footer {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 30px;
  }
}