@import "vars";

.ui-drag-and-drop {
  display: flex;

  &__group {
    flex-grow: 1;
    width: 100%;
    min-height: 200px;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__item {
    margin: 10px 5px;
    position: relative;

    &-view {
      position: absolute;
      left: 1px;
      top: 1px;
      z-index: 333;
      display: flex;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      justify-content: flex-end;
      align-items: center;
      padding: 5px 10px;
      background-color: rgba(255, 255, 255, 0.9);
      cursor: move;
    }

    &_drag {
      border: 1px solid map-get($colorsHover2, "default");
      border-radius: map-get($radius, "btn");
    }

    &_drop:before {
      height: 40px;
      background-color: map-get($colorsHover, "success");
      content: "";
      display: block;
    }

    & > * {
      margin:  0;
    }
  }
}
