@import "vars";

.form-element {
  &__wrapper {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 3px;
    position: relative;

    &_error {
      border-color: map-get($colors, "danger");
    }
  }

  &__label {
    padding-bottom: 4px;
    display: inline-block;

    &-container {
      width: 100%;
    }
  }

  &__icon, &__help {
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 37px;
  }

  &__icon {
    border-right: 1px solid #ddd;
  }

  &__help {
    border-left: 1px solid #ddd;
  }

  &__select-list {
    position: absolute;
    width: 100%;
    left: 0;
    top: 39px;
    z-index: 777;
    box-shadow: 0 0 7px map-get($colors, "info");
    border: 1px solid map-get($colors, "info");
    background-color: #fff;
    border-radius: 3px;


    &__item {
      min-height: 37px;
      padding: 10px 15px;

      &:hover {
        color: #fff;
        background-color: map-get($colorsHover2, "success");
        transition-duration: .7s;
      }

      &:not(:last-child) {
        border-bottom: 1px solid map-get($colors, "info");
      }
    }
  }

  &__input {
    padding: 10px 15px;
    width: 100%;
    border: none;
    outline: none;
    resize: vertical;

    &[disabled="disabled"] {
      cursor: default;
    }
  }

  &__error, &__help {
    font-size: 13px;
  }

  &__error {
    color: map-get($colors, "danger");
  }
}
