@import "vars";

// cursor
@each $cursor in (pointer, default) {
  .ui-cursor-#{$cursor} {
    cursor: $cursor !important;
  }
}

// text align
@each $align in (center, right, left) {
  .ui-text-align_#{$align} {
    text-align: $align !important;
  }
}

// margin
@each $num in (0 1 2 3 4 5) {
  .ui-ma_#{$num} {
    margin: $num * 5px !important;
  }

  .ui-mt_#{$num} {
    margin-top: $num * 5px !important;
  }

  .ui-mb_#{$num} {
    margin-bottom: $num * 5px !important;
  }

  .ui-ml_#{$num} {
    margin-left: $num * 5px !important;
  }

  .ui-mr_#{$num} {
    margin-right: $num * 5px !important;
  }
}

// padding
@each $num in (0 1 2 3 4 5) {
  .ui-pa_#{$num} {
    padding: $num * 5px !important;
  }


  .ui-pt_#{$num} {
    padding-top: $num * 5px !important;
  }

  .ui-pb_#{$num} {
    padding-bottom: $num * 5px !important;
  }

  .ui-pl_#{$num} {
    padding-left: $num * 5px !important;
  }

  .ui-pr_#{$num} {
    padding-right: $num * 5px !important;
  }
}

// text size
@each $size in (11 12 13 16 17 24 48 64) {
  .ui-text-size_#{$size} {
    font-size: $size + 0px !important;
  }
}

// colors
@each $name, $color in $colors {
  .ui-text-color_#{$name} {
    color: $color !important
  }
}

// colors
@each $name, $color in $colors {
  .ui-box-shadow_#{$name} {
    box-shadow: 0 0 7px $color !important
  }
}

// backgrounds
.ui-absolute-background {
  position: absolute;
  background-color: rgba(36, 45, 55, 0.18);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}