.ui-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1 1 auto;
  min-width: 0;
  margin-left: -15px;
  margin-right: -15px;

  &_no-wrap {
    flex-wrap: nowrap;
  }

  [class^=ui-grid__col] {
    flex-grow: 0;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__col_auto {
    width: auto !important;
    flex-grow: 1 !important;
  }

  @media (min-width: 961px) {
    @each $width in (100, 75, 60, 50, 40, 33, 25) {
      & > &__col-md_#{$width} {
        flex-basis: $width + 0%;
        max-width: $width + 0%;
      }
    }
  }

  @each $width in (100, 75, 60, 50, 40, 33, 25) {
    & > &__col_#{$width} {
      flex-basis: $width + 0%;
      max-width: $width + 0%;
    }
  }

  @media (max-width: 960px) {
    @each $width in (100, 75, 60, 50, 40, 33, 25) {
      & > &__col-sm_#{$width} {
        flex-basis: $width + 0%;
        max-width: $width + 0%;
      }
    }
  }
}
