.ui-icon {
  font-size: 17px;
  display: inline-block;
  padding: 2px;

  &_size-sm {
    font-size: 13px;
  }

  &_size-lg {
    font-size: 24px;
  }

  &_spin {
    animation-name: ui-keyframes__spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}
