@import "vars";

.ui-progress {
  width: 100%;
  display: inline-block;
  position: relative;

  &__container-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  &__text {
    font-size: 14px;
    display: inline-block;
    background-color: #fff;
    padding: 0 15px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin: -2px 0;
  }

  &__fill {
    display: block;
    height: 23px;
    transition-duration: 1s;
  }

  @each $btn in ('default', 'danger', 'success', 'warning', 'info') {
    &_#{$btn} {
      background-color: map-get($colorsHover, $btn);

      .ui-progress__fill {
        background-color: map-get($colors, $btn);
      }

      .ui-progress__text {
        color: map-get($colors, $btn);
        border-color: map-get($colors, $btn);
      }
    }
  }
}
