.ui-table {
  &_overflow {
    overflow-x: auto;
  }

  &__thead-sort {
    min-width: 20px;
    display: inline-block;

      &__icon {
        font-size: 11px;
      }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      border-bottom: 1px solid #ddd;
      font-size: 13px;

      th, td {
        padding: 8px 10px;
      }

      tr {
        &:not(:last-child) {
          th, td {
            padding-bottom: 2px;
          }
        }

        &:not(:first-child) {
          th, td {
            padding-top: 2px;
          }
        }
      }
    }

    tfoot {
      border-top: 1px solid #ddd;
      font-size: 13px;

      th, td {
        color: #999;
        padding: 5px 10px;
      }
    }

    tbody {
      th, td {
        padding: 4px 10px;
        font-size: 13px;
      }

      tr:hover {
        background-color: #eee;
      }

      tr:not(:last-child) {
        border-bottom: 1px solid #ddd;
      }
    }

    th, td {

      &:not(:last-child) {
        border-right: 1px solid #ddd;
      }
    }
  }
}