@import "vars";

.ui-tooltip {
  display: inline-block;
  position: relative;

  &__content {
    position: absolute;
    background-color: #fdfdfd;
    box-shadow: 0 0 7px map-get($colors, "warning");
    border: 1px solid map-get($colors, "warning");
    font-size: 14px;
    padding: 5px;
    border-radius: 2px;
    text-transform: none;
  }
}
