@import "vars";

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Light.eot');
  src: local('Roboto Light'), local('Roboto-Light'),
  url('../fonts/Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto/Roboto-Light.woff') format('woff'),
  url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.eot');
  src: local('Roboto'), local('Roboto-Regular'),
  url('../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Medium.eot');
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('../fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto/Roboto-Medium.woff') format('woff'),
  url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  font-family: $fonts;
  font-weight: 400;
  font-size: map-get($textSize, 'default');
  line-height: 1.51539;
  color: map-get($colors, 'text');
  background-color: #f6f6f6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fonts;
  font-weight: 300;
}

strong, b, th {
  font-family: $fonts;
  font-weight: 500;
}

a, .link {
  color: map-get($colors, 'default');
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 15px 0;
}
